[Unit]
Description=Gunicorn instance to serve appname
After=network.target

[Service]
User=appname
Group=www-data
WorkingDirectory=/home/appname/www
Environment=PATH=/home/appname/www/venv/bin SCRIPT_NAME=/appname
ExecStart=/home/appname/www/venv/bin/gunicorn --workers 3 --bind unix:appname.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

